<div class="w3-container">
  <h1>
    ¡Listo!
  </h1>
  <div class="w3-panel w3-red">
    Nombre: <%= nombre %>
  </div>
  <div class="w3-panel w3-green">
    Apellido: <%= apellido %>
  </div>
  <div class="w3-panel w3-blue">
    E-Mail: <%= email %>
  </div>
</div>

<%- contentFor('titulo') %>
Listo